<!DOCTYPE html>
<html>
<head>

<title>Profile Card</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="C:\Users\SYS-PRO-ADMIN\Downloads\footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:\Users\SYS-PRO-ADMIN\Downloads\STATIC-20220731T045357Z-001\STATIC\docstyle.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">Features</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
<br>  
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third"><br><br>
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
           <img src="C:\Users\SYS-PRO-ADMIN\Downloads\logo-removebg-preview.png" style="width:60%" height="200px" alt="Avatar">
          <br><br><div class="w3-display-bottomleft w3-container w3-text-black">
           <p class="para">&nbsp;&nbsp;<i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp; Murali</p>
          </div>
         
        </div>
        <div class="w3-container">
          <p>&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;abc123@gmail.com</p>
          <p>&nbsp;&nbsp;<i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;7397119382</p>
          <p>&nbsp;&nbsp;<i class="fa-solid fa-mars-and-venus"></i>&nbsp;&nbsp;&nbsp;Male</p>
          &nbsp;&nbsp;<input type="checkbox" id="verify" value="accepted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="verify"> I Agree to terms and conditions</label>
        </div>
     </div>
       <br>
        <button type="button" class="btn btn-primary btn-lg btn-block">Place Your New Order</button>
      </div>

    <!-- Right Column -->
   <center> <p class="para1">Number of Orders Displayed : 5</p> </center>
    <div class="w3-twothird">  
      
    <div class="w3-container1 w3-card w3-white w3-margin-bottom">
        <h2 >
         My <span id="color">Current</span> Orders
        </h2>
       <p class="con">Tea Ad<br>status:pending &nbsp;&nbsp;&nbsp;Display Date : 02/08/22</p>
       <p class="con">Mobile Ad<br>status:pending &nbsp;&nbsp;&nbsp;Display Date : 02/09/22</p>
       <p class="con">Aadi Sale<br>status:pending &nbsp;&nbsp;&nbsp;Display Date : 02/10/22</p>
		
		</div>
 <div class="w3-container1 w3-card w3-white w3-margin-bottom">
        <h2 >
           <span id="color">Displayed</span> Orders
        </h2>
        <p class="con">Bicycle Ad<br>status:Displayed &nbsp;&nbsp;&nbsp;Display Date : 03/07/22</p>
        <p class="con">Mobile Ad<br>status:Displayed &nbsp;&nbsp;&nbsp;Display Date : 02/07/22</p>
        <p class="con">Dress Sale<br>status:Displayed &nbsp;&nbsp;&nbsp;Display Date : 02/6/22</p>
        <p class="con">Book Ad<br>status:Displayed &nbsp;&nbsp;&nbsp;Display Date : 02/05/22</p>
        <p class="con">Dress Ad<br>status:Displayed &nbsp;&nbsp;&nbsp;Display Date : 02/04/22</p>
        
  </div>
 </div> 
 <br><br>  
 <div class="foot">
         
<span id="head">How It Works</span><br>
<p id="content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="start">Our</span> new customer needs to create an account first and then need to login. After they will be requested to submit the order details.We do provide design service as well as printing service if they needed.Further status will be updated through their mail id provided.Any query and feedback can be sent to the following mail Id : paperinsert@gmail.com</p>
         

 </div>
  <br>
<footer class="footer">
  <div class="container1">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Office address </h4>
        <span class="color">
          13,ambedkar street,<br>
          kodampakkam,<br>
          chennai-607002<br>
        </span>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
